<%- include("head.ejs") %>
<!-- <h1>The Jobs EJS Application</h1> -->
<h1>Welcome to our Task Board</h1>

<% if (locals.currentFamilyCode) { %>
  <p><strong>Board:</strong> <%= currentFamilyCode %></p>
<% } %>

<% if (user) { %>
   <p><%= user.name %> is logged in.</p>
   <form method="POST" action="/sessions/logoff">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
   <button>Sign Out</button>
   </form>
<% } %>
<% if (errors) {
    errors.forEach((err) => { %>
      <div>
        Error: <%= err %>
      </div>
    <% })
  } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div>
        Info: <%= msg %>
      </div>
    <% })
  } %>
<hr />